{% if section.settings.image != blank %}
  <a class="item" href="{{ section.settings.button_link | default:'#' }}">
    <div class="item-inner">
      <div class="image is-sm is-sm-translate ">
        <div class="caption-sticky caption-sticky-bottom">
          {% if section.settings.heading_label != blank %}
            <div class="caption-primary">{{ section.settings.heading_label }}</div>
          {% endif %}
          {% if section.settings.sub_heading != blank %}
            <div class="caption-secondary">{{ section.settings.sub_heading }}</div>
          {% endif %}
        </div>

        {% if section.settings.image != blank %}
          <picture>
            <source
              media="(min-width:835px)"
              srcset="{{ section.settings.image | img_url:'master' }}"
            >
            <img src="{{ section.settings.mobile_image | img_url:'master' }}" alt="{{ section.settings.mobile_image.alt }}">
          </picture>
        {% endif %}
      </div>
    </div>
  </a>
{% endif %}
{% schema %}
{
  "name": "LR Custom Our Library",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading_label",
      "label": "Heading",
      "default": "Our Library"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "View now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    }
  ],
   "presets": [
    {
      "name": "LR Custom Our Library"
    }
  ]
}
{% endschema %}
