{{ 'lr-widget-dts.css' | asset_url | stylesheet_tag }}
{{ 'lr-swiper-components.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lr-widget-dts.js' | asset_url }}" defer="defer"></script>

<!-- Address JS Start -->
<script src="{{ 'lr-customer-address.js' | asset_url }}" defer="defer"></script>
<!-- Address JS End -->

<div class="plp-header">
  <div class="plp-header-primary">
    <div class="widget-dts">
      <div class="widget-dts-text widget-dts-text-ghost">Address Book</div>
      <!-- Foreground Text -->
      <div id="foreground" class="widget-dts-text">Address Book</div>    
      <!-- Middleground Text -->
      <div id="middleground" class="widget-dts-text">Address Book</div>    
      <!-- Background Text -->
      <div id="background" class="widget-dts-text">Address Book</div>
    </div>
  </div>
</div>

{%- paginate customer.addresses by 5 -%}
<div class="page-account page-account-addressbook">
  <div class="inner">
      <div class="site-system">
        <div class="item item-hd item-hd-line">Address book
          <a class="tooltip-right" href="{{ routes.account_url }}">Return to Account</a>
        </div>
          {%- for address in customer.addresses -%}
            <div class="item item-address" current_edit_id="{{ address.id }}">
              <div class="item-address-info">
                {%- if address == customer.default_address -%}
                 <div class="title">Home •default address••</div>
                {% else %}  
                  <div class="title"></div>
                {%- endif -%}
                <div class="info">{{ address | format_address }}</div>
              </div>
              <div class="item-address-tools">
                <button
                  type="button"
                  class="textlink-edit"
                  id="EditFormButton_{{ address.id }}"
                  aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                  aria-controls="EditAddress_{{ address.id }}"
                  aria-expanded="false"
                  data-address-id="{{ address.id }}"
                >
                  <span>Edit</span>
              </button>
              <button
                  type="button"
                  class="textlink-edit do_removeaddress"
                  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  data-address-id="{{ address.id }}">
                  <span>Remove</span>
              </button>
              </div>
            </div>
          {% endfor %}
          <div class="item item-button">
            <button class="button button-large" id="new-address">Add new address</button>
          </div>
      </div>
  </div>
</div>

{%- for address in customer.addresses -%}
  <div class="page-account page-account-edit-addressbook-detail" id="EditAddress_{{ address.id }}" style="display:none;">
  
    <div class="inner">
      <div class="site-system" data-address-id="{{ address.id }}">  
        {%- form 'customer_address', address -%}
        <div class="item item-hd item-hd-line">Edit address<span class="tooltip-right"><span class="dot">•</span>Required</span></div>
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="First name•">
        </div>
        <div id="editaddress_firstname_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>  
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="Last name•">
        </div>
        <div id="editaddress_lastname_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>  
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="Street address•">
        </div>
        <div id="editaddress_address1_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>    
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="Apt, Suite, Building, Company">
        </div>
        <div id="editaddress_address2_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>      
        <div class="item item-input item-input-spaced">
          <select id="AddressCountry_{{ form.id }}"
              name="address[country]"
              data-address-country-select
              data-default="{{ form.country }}"
              data-form-id="{{ form.id }}"
              autocomplete="country">
                <option value="USA" data-provinces="[]" {% if form.country == 'USA' %}selected{% endif %}>USA</option>
                <option value="Canada" data-provinces="[]" {% if form.country == 'Canada' %}selected{% endif %}>Canada</option>
                <option value="Italy" data-provinces="[]" {% if form.country == 'Italy' %}selected{% endif %}>Italy</option>
                <option value="Germany" data-provinces="[]" {% if form.country == 'Germany' %}selected{% endif %}>Germany</option>
                <option value="Netherlands" data-provinces="[]" {% if form.country == 'Netherlands' %}selected{% endif %}>Netherlands</option>
                <option value="Spain" data-provinces="[]" {% if form.country == 'Spain' %}selected{% endif %}>Spain</option>
                <option value="Switzerland" data-provinces="[]" {% if form.country == 'Switzerland' %}selected{% endif %}>Switzerland</option>
                <option value="Belgium" data-provinces="[]" {% if form.country == 'Belgium' %}selected{% endif %}>Belgium</option>
                <option value="Austria" data-provinces="[]" {% if form.country == 'Austria' %}selected{% endif %}>Austria</option>
                <option value="UK" data-provinces="[]" {% if form.country == 'UK' %}selected{% endif %}>UK</option>
            </select>
        </div>
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressProvince_{{ form.id }}" name="address[province]" value="{{ form.province }}" placeholder="State•">
        </div>
        <div id="editaddress_province_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>   
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="City•">
        </div>
        <div id="editaddress_city_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>   
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" placeholder="ZIP code•">
        </div>
        <div id="editaddress_zip_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>   
        <div class="item item-input item-input-spaced">
          <input type="text" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" placeholder="Phone number•">
        </div>
        <div id="editaddress_phone_error_{{ form.id }}" class="error-message item-error" style="display:none;"></div>   
        <div class="item item-checkbox item-input-spaced">
          <input type="checkbox" id="default" class="checkbox-single" name="address[default]" value="true">
          <label for="default">Set as default address</label>
        </div>  
        <div class="item item-button">
          <button type="button" class="button button-large save-address" data-address-id="{{ address.id }}">Save</button>
        </div>   
        {%- endform -%}      
      </div>
    </div>
  </div>
{% endfor %} 


<div class="page-account page-account-addressbook-detail active" id="AddAddress">
  <div class="inner">
    <div class="site-system">
      <div class="item item-hd item-hd-line">New address<span class="tooltip-right">•Required</span></div>
      <!-- New Address Form -->
       <form id="new-address-form" method="post" action="/account/addresses" autocomplete="on">
        <div class="item item-input item-input-spaced">
            <input type="text" id="first_name" name="address[first_name]" placeholder="First name•">
        </div>
        <div id="first_name_error" class="error-message item-error" style="display:none;"></div>
    
        <div class="item item-input item-input-spaced">
            <input type="text" id="last_name" name="address[last_name]" placeholder="Last name•">
        </div>
        <div id="last_name_error" class="error-message item-error" style="display:none;"></div>
    
        <div class="item item-input item-input-spaced">
            <input type="text" id="address1" name="address[address1]" placeholder="Street address•">
        </div>
        <div id="address1_error" class="error-message item-error" style="display:none;"></div>
    
        <div class="item item-input item-input-spaced">
            <input type="text" id="address2" name="address[address2]" placeholder="Apt, Suite, Building, Company">
        </div>
        <div id="address2_error" class="error-message item-error" style="display:none;"></div>
    
        <div class="item item-input item-input-spaced">
            <select id="country" class="select-fullwidth" name="address[country]">
                <option value="">Select a country</option> <!-- Default prompt -->
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
                <option value="Italy">Italy</option>
                <option value="Germany">Germany</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Spain">Spain</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Belgium">Belgium</option>
                <option value="Austria">Austria</option>
                <option value="UK">UK</option>
            </select>
        </div>
        <div id="country_error" class="error-message item-error" style="display:none;"></div>
        <div class="item item-input item-input-spaced">
            <input type="text" id="province" name="address[province]" placeholder="State/Province•">
        </div>
        <div id="province_error" class="error-message item-error" style="display:none;"></div>
        <div class="item item-input item-input-spaced">
            <input type="text" id="city" name="address[city]" placeholder="City•">
        </div>
        <div id="city_error" class="error-message item-error" style="display:none;"></div>
        <div class="item item-input item-input-spaced">
            <input type="text" id="zip" name="address[zip]" placeholder="ZIP code•">
        </div>
        <div id="zip_error" class="error-message item-error" style="display:none;"></div>
        <div class="item item-input item-input-spaced">
            <input type="text" id="phone" name="address[phone]" placeholder="Phone number•">
        </div>
        <div id="phone_error" class="error-message item-error" style="display:none;"></div>
        <div class="item item-checkbox item-input-spaced">
        <input type="checkbox" id="default" class="checkbox-single" name="address[default]" value="true" tabindex="0" onkeydown="if(event.key === 'Enter' || event.key === ' ') this.click();">
            <label for="default" >Set as default address</label>
        </div>
        <div class="item item-button">
            <button type="submit" class="button button-large">Save</button>
        </div>
    </form>
      <!-- Success and Error Messages -->
      <div id="address-form-success" style="display:none; color:green;">Address saved successfully!</div>
      <div id="address-form-error" style="display:none; color:#c00;">Failed to save address.</div>
      <!-- Address List Container -->
      <div id="address-list-container"></div>
      
    </div>
  </div>
</div>  

 
{%- endpaginate -%}

<style>
  .page-account .button {
    font-weight: 500;
  }
  .page-account.page-account-addressbook-detail.active {
    display: none;
  }
  .site-system .item-address .textlink-edit{
    border: none;
  }
  .site-system .item-address .textlink-edit {
    margin: 0px -2px;
  }
  .page-account.page-account-edit-addressbook-detail form {
    margin-top: 0;
  }
  @media (max-width: 575px) {
    .page-account.page-account-addressbook .item-address-tools {
      margin: -12px 0;
    }
    .page-account.page-account-edit-addressbook-detail {
      padding-top: 40px;
    }
  }
  @media (min-width: 576px) {
    .site-system .item-address .item-address-tools{
      margin: -12px 0;
    }
  }
/* Edit Address Validation CSS Start */
.page-account.page-account-edit-addressbook-detail .error-message.item-error:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #c00;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-image: url(https://cdn.shopify.com/s/files/1/0645/7563/5607/files/386c391b02fdc9948d17ba92b988a24c_1.svg?v=1729769672);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-account.page-account-edit-addressbook-detail .error-message.item-error {
display: none; /* Hide by default */
}

.page-account.page-account-edit-addressbook-detail .error-message.item-error.visible {
  display: block; /* Show when there's an error */
}
/*  Edit Address Validation CSS End  */
  
/* New Address validtion Css Start */
.page-account.page-account-addressbook-detail .error-message.item-error:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #c00;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-image: url(https://cdn.shopify.com/s/files/1/0645/7563/5607/files/386c391b02fdc9948d17ba92b988a24c_1.svg?v=1729769672);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-account.page-account-addressbook-detail .error-message.item-error {
display: none; /* Hide by default */
}

.page-account.page-account-addressbook-detail .error-message.item-error.visible {
  display: block; /* Show when there's an error */
}
/*  New Address Validation CSS End  */
</style>

{% schema %}
  {
    "name": "t:sections.main-addresses.name",
    "settings": [
    
    ]
  }
{% endschema %}