{{ 'lr-account-login.css' | asset_url | stylesheet_tag }}
{{ 'lr-widget-dts.css' | asset_url | stylesheet_tag }}
{{ 'lr-swiper-components.css' | asset_url | stylesheet_tag }}


<script src="{{ 'lr-widget-dts.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'lr-main-reset-password.js' | asset_url }}" defer="defer"></script>

<div class="plp-header">
  <div class="plp-header-primary">
    <div class="widget-dts">
      <div class="widget-dts-text widget-dts-text-ghost">{{ 'customer.reset_password.title' | t }}</div>
      <!-- Foreground Text -->
      <div id="foreground" class="widget-dts-text">{{ 'customer.reset_password.title' | t }}</div>    
      <!-- Middleground Text -->
      <div id="middleground" class="widget-dts-text">{{ 'customer.reset_password.title' | t }}</div>    
      <!-- Background Text -->
      <div id="background" class="widget-dts-text">{{ 'customer.reset_password.title' | t }}</div>
    </div>
  </div>
</div>
{% comment %}
  

<div class="customer reset-password">
  {%- form 'reset_customer_password', id: 'custom_reset_password' -%}
    <div class="field">
      <input
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
    </div>
    <div id="new_password_error" class="error-message item-error" style="display:none;"></div>
    <div class="field">
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
    <input type="hidden" id="customer_id" name="customer_id" value="{{ id }}">  
    </div>
    
    <div id="confirm_password_error" class="error-message item-error" style="display:none;"></div>

    <button type="submit">
      {{ 'customer.reset_password.submit' | t }}
    </button>
    <div id="pasword_text"></div>
  {%- endform -%}
</div>
{% endcomment %}  
<div class="page-account page-account-forgottpassword-create-success">
  <div class="inner">
  <div class="site-system">  
  {%- form 'reset_customer_password', id: 'custom_reset_password' -%}
    <div class="item item-input item-input-password item-input-spaced">
      <input
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
    </div>
    <div id="new_password_error" class="error-message item-error" style="display:none;"></div>
    <div class="item item-input item-input-password item-input-spaced">
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
    <input type="hidden" id="customer_id" name="customer_id" value="{{ id }}">  
    </div>
    
    <div id="confirm_password_error" class="error-message item-error" style="display:none;"></div>
    <div class="item item-button item-button-horizontal">
      <button type="submit">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    </div>  
    <div id="pasword_text"></div>
  {%- endform -%}
  </div>
  </div>  
</div>
{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    
  ]
}
{% endschema %}
