{{ 'lr-widget-dts.css' | asset_url | stylesheet_tag }}
{{ 'lr-swiper-components.css' | asset_url | stylesheet_tag }}
{{ 'lr-account-login.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lr-widget-dts.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'lr-account-login.js' | asset_url }}" defer="defer"></script>

<div class="plp-header">
  <div class="plp-header-primary">
    <div class="widget-dts">
      <div class="widget-dts-text widget-dts-text-ghost">Account</div>
      <!-- Foreground Text -->
      <div id="foreground" class="widget-dts-text">Account</div>    
      <!-- Middleground Text -->
      <div id="middleground" class="widget-dts-text">Account</div>    
      <!-- Background Text -->
      <div id="background" class="widget-dts-text">Account</div>
    </div>
  </div>
</div>

<div class="customer login section-{{ section.id }}-padding">
  <div class="page-account page-account-forgotpassword-success" id="success-message" style="display:none;">
    <div class="inner">
      <div class="site-system">
  		<div class="item item-hd">Forgot password</div>
  		<div class="item item-copy item-copy-longtext">
  			<p>Thank you, we have received your request. We will send you an email with further instructions on how to recover your password shortly.</p>
  		</div>
  		<div class="item item-button">
      	   <a class="button" href="/">Return to homepage</a></div>
  		</div>
  	</div>
  </div>
  
  <div id="success-message" style="display:none;">A password reset email has been sent to your email address.</div>
  <div id="error-message" style="display:none;">There was an error processing your request. Please try again.</div>
  
  <div class="page-account page-account-forgotpassword" id="forgot-password-form" style="display: none;">
  <div class="inner">
    <div class="site-system">
      <div class="item item-hd" id="recover">Forgot password</div>
      {%- form 'recover_customer_password' -%}
      <div class="item item-input">
        <input
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="Enter e-mail address"
        >
      </div>
      <div id="reset_email" class="error-message item-error" style="display:none;"></div>
      <div class="item item-button">
        <button class="button" type="submit">Request password reset</button>
      </div>
      <div id="success-message" class="success-message item-success" style="display:none;">A password reset link has been sent to your email.</div>
      {%- endform -%} 
    </div>
  </div>
</div>

  <!-- Custom Account Login Start -->
  <div class="page-account page-account-login" id="login-form">
    <div class="inner">
      <div class="site-system">
        <div class="item item-hd" id="login">Login</div>
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          <div class="item item-input">
            <input type="email" name="customer[email]" id="CustomerEmail" 
              placeholder="E-mail address" autocorrect="off" autocapitalize="off"
              {% if form.errors contains 'form' %} aria-invalid="true" {% endif %} required>
          </div>
          <div id="customer-email-error" class="error-message item-error"></div>
        
          {%- if form.password_needed -%}
            <div class="item item-input item-input-password">
              <input type="password" name="customer[password]" id="CustomerPassword" 
                autocomplete="current-password"
                {% if form.errors contains 'form' %} aria-invalid="true" {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}" required>
              <div class="password_eye toggle_password_visibility" id="togglePassword"></div>
            </div>
          {%- endif -%}
          <div id="customer-password-error" class="error-message item-error" style="display:none;"></div>
        
          <div class="item item-button item-button-horizontal">
            <button type="submit" class="button" id="loginSubmit">Log in</button>
            <a class="button button-textlink" id="show-recover-form" href="#recover">
              Forgot password<span class="dot">•</span>
            </a>
          </div>
        {%- endform -%}
      </div>
    </div>
    <div class="inner">
      <div class="site-system divider">
      <div class="item item-hd">Create an account</div>
      <div class="item item-copy item-copy-longtext">
        <p>By creating an account, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders and more.</p>
      </div>
      <div class="item item-button">
        <a href="{{ routes.account_register_url }}" class="button">Register</a>
      </div>
    </div>
  </div>
  </div>              
  <!-- Custom Account Login End -->              
  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
  
  ]
}
{% endschema %}