{{ 'lr-widget-dts.css' | asset_url | stylesheet_tag }}
{{ 'lr-swiper-components.css' | asset_url | stylesheet_tag }}
{{ 'lr-account-login.css' | asset_url | stylesheet_tag }}

<script src="{{ 'lr-widget-dts.js' | asset_url }}" defer="defer"></script>

<div class="plp-header">
  <div class="plp-header-primary">
    <div class="widget-dts">
      <div class="widget-dts-text widget-dts-text-ghost">{{ 'customer.account.title' | t }}</div>
      <!-- Foreground Text -->
      <div id="foreground" class="widget-dts-text">{{ 'customer.account.title' | t }}</div>    
      <!-- Middleground Text -->
      <div id="middleground" class="widget-dts-text">{{ 'customer.account.title' | t }}</div>    
      <!-- Background Text -->
      <div id="background" class="widget-dts-text">{{ 'customer.account.title' | t }}</div>
    </div>
  </div>
</div>

<div class="page-account page-account-account">
  <div class="inner inner-wide">
    <div class="site-system site-system-2col">
      <div class="item item-summary item-summary-fullwidth">
        <a class="hd" href="/pages/order-list">Recent orders <span class="dot">•</span> returns <span class="secondary">View all</span></a>
        <div class="info">
          {% paginate customer.orders by 2 %}  
          {%- if customer.orders.size > 0 -%}
            <div class="widget-orders">
              {%- for order in customer.orders -%}
                <div class="widget-orders-item">
                  <div class="widget-orders-image">
                     {% for line_item in order.line_items %}
                      {% if line_item.product.featured_image or line_item.variant.image %}
                        <img src="{{ line_item.product.featured_image | img_url: 'master' }}" alt="{{ line_item.title }}">
                      {% else %}  
                      <img src="{{ line_item.variant.image | img_url: 'master' }}" alt="{{ line_item.title }}">  
                      {% endif %} 
                    {% endfor %}  
                  </div>
                  <div class="widget-orders-details">
                    <div class="details details-title">Order {{ order.name }}
                        <br>{{ order.created_at | date: "%d-%m-%Y" }}                    
                    </div>
                    <div class="details details-status details-status-progress">{{ order.financial_status_label }}</div>
                    <div class="details details-pricing">{{ order.total_net_amount | money_with_currency }}</div>
                    <div class="details details-view"><a href="{{ order.customer_url }}">View details</a></div>
                  </div>
                </div>
              {% endfor %}   
            </div>
          {% else %}
          <span class="cust_no_order_msg" style="padding: 20px 0px 0px 0px;"><p>You have not placed any orders yet.</p></span>  
          {% endif %}  
          {% endpaginate %}  
        </div>
      </div>
      <div class="item item-summary item-summary-fullwidth">
        <a class="hd" href="{{ routes.account_addresses_url }}">Address book <span class="secondary">View all</span>
        </a>
        <div class="info">
          <div class="item item-address">
            <div class="item-address-info">
              {%- for address in customer.addresses -%}
              {%- if address == customer.default_address -%}
                <div class="title">Home <span class="dot">•</span>default address<span class="dot">••</span></div>
              <div class="info">
                {{ address | format_address }}
              </div>
             {% endif %} 
              {% endfor %}
            </div>
            <div class="item-address-tools">
              <a class="textlink-edit" href="{{ routes.account_addresses_url }}"><span>Edit</span></a>
              <a class="textlink-edit do_removeaddress" href="/account"><span>Remove</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-summary item-summary-fullwidth">
        <a class="hd" href="/pages/profile">Account details <span class="secondary">Edit</span></a>
        <div class="info">
          {{ customer.first_name }} {{ customer.last_name }}
          <br>{{ customer.email }}
          {% if customer.phone !=blank and customer.metafields.custom.phone != blank %}
          <br> {{ customer.phone }}
          {% else %}
          <br>{{ customer.metafields.custom.phone }}  
          {% endif %}
          <br><a class="change-password-link" href="/pages/password">Change password</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
  ]
}
{% endschema %}