{{ 'lr-widget-dts.css' | asset_url | stylesheet_tag }}
{{ 'lr-swiper-components.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lr-widget-dts.js' | asset_url }}" defer="defer"></script>

{{ 'lr-custom-create-account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lr-custom-create-account.js' | asset_url }}" defer="defer"></script>

<div class="plp-header">
  <div class="plp-header-primary">
    <div class="widget-dts">
      <div class="widget-dts-text widget-dts-text-ghost">Create account</div>
      <!-- Foreground Text -->
      <div id="foreground" class="widget-dts-text">Create account</div>    
      <!-- Middleground Text -->
      <div id="middleground" class="widget-dts-text">Create account</div>    
      <!-- Background Text -->
      <div id="background" class="widget-dts-text">Create account</div>
    </div>      
  </div>
</div>

<div class="customer register section-{{ section.id }}-padding">
  <div class="form-container" id="page-account-register-form">
    
    <form id="registerForm">
      <div class="page-account page-account-register">
        <div class="inner">
          <div class="site-system">
            <div class="item item-hd">Create an account<span class="tooltip-right"><span class="dot">•</span>Required</span></div>
            <div class="item item-input item-input-spaced">
              <select class="select-fullwidth" id="salutation" name="salutation">
                <option value="" disabled selected>Select Salutation</option>
                <option value="Mr." {% if customer.metafields.custom.salutation == "Mr." %}selected{% endif %}>Mr.</option>
                <option value="Mrs." {% if customer.metafields.custom.salutation == "Mrs." %}selected{% endif %}>Mrs.</option>
                <option value="Ms." {% if customer.metafields.custom.salutation == "Ms." %}selected{% endif %}>Ms.</option>
                <option value="Miss" {% if customer.metafields.custom.salutation == "Miss" %}selected{% endif %}>Miss</option>
                <option value="Mx." {% if customer.metafields.custom.salutation == "Mx." %}selected{% endif %}>Mx.</option>
                <option value="Mr." {% if customer.metafields.custom.salutation == "Mr." %}selected{% endif %}>Dr.</option>
                <option value="Ind." {% if customer.metafields.custom.salutation == "Ind." %}selected{% endif %}>Ind.</option>
                <option value="Misc." {% if customer.metafields.custom.salutation == "Misc." %}selected{% endif %}>Misc.</option>
              </select>
            </div>
            <div id="salutation-error" class="error-message item-error"></div> <!-- Error message -->
            <div class="item item-error" id="default_salutation"></div>
            <div class="item item-input item-input-spaced">
              <input type="text" placeholder="First name•" id="firstName" name="firstName" />
            </div>
            <div id="firstName-error" class="error-message item-error"></div> <!-- Error message -->
            <div class="item item-input item-input-spaced">
              <input type="text" placeholder="Last name•" id="lastName" name="lastName" />              
            </div>
            <div id="lastName-error" class="error-message item-error"></div> <!-- Error message -->
            <div class="item item-input item-input-spaced">
              <input type="email" placeholder="E-mail address•" id="email" name="email" />
            </div>
            <div id="email-error" class="error-message item-error"></div>
            <div class="item item-input item-input-spaced">
              <input type="password" placeholder="Password•" id="password" name="password" />
            </div>
            <div id="password-error" class="error-message item-error"></div> <!-- Error message -->
            <div class="item item-input item-input-spaced">
              <input type="password" placeholder="Confirm password•" id="confirmPassword" name="confirmPassword" />
              <input type="hidden" id="customer_id" name="customer_id" value="{{ customer.id }}">
            </div>
            <div id="confirmPassword-error" class="error-message item-error"></div> <!-- Error message -->
            <div class="item item-copy item-copy-long text">
              <p>Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 8 characters long.</p>
            </div>
            <div class="item item-checkbox item-input-spaced">
              <input type="checkbox" class="checkbox-single newsletter" id="newsletter" name="newsletter" checked="true" />
              <label htmlFor="register-newsletter">Subscribe to newsletter</label>
            </div>
            <div class="item item-checkbox item-checkbox-longtext">
              <input type="checkbox" class="checkbox-single" id="terms" name="terms" />
              <label htmlFor="newsletter-confirm">
                I have read, understood and accepted the <a href="/pages/terms-and-conditions">terms and conditions</a> and the <a href="/pages/privacy-policy">privacy policy</a>
              </label>
            </div>
            <div id="terms-error" class="error-message item-error"></div>
            <div class="item item-button">
              <button type="submit">Register</button>
            </div>
            <div id="error" class="error-message item-error"></div>
            <div id="sucess"></div>
          </div>
        </div>
      </div>
    </form>
    
  </div>
  <div class="page-account page-account-register-success" id="page-account-register-success" style="display:none;">
    <div class="inner">
      <div class="site-system">
        <div class="item item-hd">Thank you</div>
        <div class="item item-copy item-copy-longtext">
          <p>You are now registered to Lost River. You will receive an email with your account confirmation shortly. Meanwhile, you can start using your account.</p>
        </div>
        <div class="item item-button">
          <a class="button" href="/account">Go to account overview</a>
        </div>
      </div>
    </div>
  </div>
</div>  
{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
  
  ]
}
{% endschema %}